@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "./variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Containers */
.container, .containerPartials {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.containerPartials {
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
}

.svg-up-bw {
    background-color: black;
}

/* Nav e links */
ul {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

button {
    border: 1.5px solid $mainColor;
    padding: 10px 20px;
    background-color: transparent;
    color: $mainColor;
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

/* Regole generali per titoli */
h2, h3 {
    font-family: 'Playfair Display', serif;
}

h3, h4 {
    color: $mainColor;
}

h2 {
    font-size: 3rem;
    text-transform: capitalize;
    color: $secondaryColor;
    padding: 10px 0;
}

h4 {
    text-transform: uppercase;
    font-size: 0.7rem;
}