/* Altezze */
$height1: 60px;
$height2: $height1 * 1.5;
$height3: $height1 * 3;

$jumbotronHeight: 650px;

/* Larghezze */
$width2: 50%;
$width3: 33.33333%;
$width4: 25%;

/* Colori */
$mainColor: #be9359;
$secondaryColor: #b1b1b1;
$buttonHover: #fb8d05;